html body{
    background: url(https://images.immediate.co.uk/production/volatile/sites/3/2023/03/goku-dragon-ball-guru-824x490-11b2006.jpg?quality=90&webp=true&resize=750,500)
}

/* body {
    background-color: #f0f0f0;
  }
  
  button {
    background-color: #0066ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
  } */
  